@import "tailwindcss";

:root {
  --bg-color: #F4F0E8; /* Beige/ivory liknande bakgrund */
  --text-color: #2B2B2B; /* Mjuk mörkgrå text */
  --accent-color: #444444; /* Använd för knappar eller ikoner */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, "Inter", sans-serif;
}

